 .content{
  grid-area: c;
  background: plum;
}

.backImg img{
  max-width: 150%;
  max-height: 100vh;
  height: auto;

  /*background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fnature%2F&psig=AOvVaw3GZV4kdcOPKeQ2A9HM5_TR&ust=1605790115545000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLDYo7-QjO0CFQAAAAAdAAAAABAD) no-repeat center fixed;*/
  /*background-size: cover;*/
}


