.content{
  grid-area: c;
  background: plum;
}


.backImg img{ 

  max-width: 100%;
  height: auto;
  /* background-image: url('https://eskipaper.com/images/desktop-wallpaper-6.jpg');
   background-repeat: no-repeat; */
  /*background-attachment: fixed;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  -moz-background-size: cover;
  background-size: cover; */
}


